<!-- <h1><u>Get Randomly color</u></h1>

<div class="container">
     <h1 [ngStyle]="{backgroundColor:'yellow'}">Style editing</h1>
     <h1 [ngStyle]="{backgroundColor: getColor()}">Random getColor</h1>
</div> -->



<h1><u>Component Inline Style test</u></h1>

<h1 [ngStyle]="{backgroundColor:'yellow'}" 
    [ngClass]="{online:test==='nishu'}">Style editing 1</h1>

<div *ngFor="let a of loopTest; let i = index">
     <div class="row">
          <div class="col-md-1">
               <h3>{{i}}</h3>
          </div>
          <div class="col-md-3">
               <h3>{{a}}</h3>
          </div>
     </div>
</div>