<!-- <h1>{{title1}}</h1>
<div class="container">
     <table class="table">
          <thead>
               <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
               </tr>
          </thead>
          <tbody>
               <tr *ngFor="let employee of employees">
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.email}}</td>
                    <td><button type="button" class="btn btn-danger">Button</button></td>
               </tr>
          </tbody>
     </table>
</div> -->

<div class="container" [style.visibility]="registrationForm ? 'hidden' : 'visible'">
     <h1>{{title2}}</h1>
     <div class="container-fluid">
          <div class="row userName">
               <div class="col-md-3"><h4>{{inputtitle1}}</h4></div>
               <div class="col-md-8"><input [(ngModel)]="userName" type="text" class="form-control"></div>
          </div>
          <div class="row pass1">
               <div class="col-md-3"><h4>{{inputtitle2}}</h4></div>
               <div class="col-md-8"><input [(ngModel)]="pass1" type="text" class="form-control"></div>
          </div>
          <div class="row pass2">
               <div class="col-md-3"><h4>{{inputtitle3}}</h4></div>
               <div class="col-md-8">
                    <input type="text" class="form-control" [(ngModel)]="pass2">
               </div>
          </div>
          <!-- Password Error -->
          <div class="text-danger text-center">
               <h1 *ngIf="pass1===pass2; else passErrorTemp"></h1>
               <ng-template #passErrorTemp><h4>{{passError}}</h4></ng-template>
          </div>

          <div class="row age">
               <div class="col-md-3"><h4>{{inputtitle4}}</h4></div>
               <div class="col-md-8">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="age">
                         <option>{{age}}</option>
                         <option *ngFor="let SelectAge of ageSelectr">{{SelectAge.ageValue}}</option>
                    </select>
               </div>
          </div> 

          <!-- Input Error  -->
          <div [style.visibility]="regisError ? 'visible' : 'hidden'" class="text-danger text-center">
               <h4><b>{{regisDataError}}</b></h4>
          </div>
          <!-- User Id Error -->
          <div [style.visibility]="regisUserError ? 'visible' : 'hidden'" class="text-danger text-center">
               <h4><b>{{userNameError}}</b></h4>
          </div>

          <!-- btn -->
          <div class="row button">
               <div class="text-center">
                    <!-- Regis btn 1 -->
                    <button type="button" class="btn btn-primary regis" 
                         (click)="regisFunction()"
                         [style.visibility]="regisbtn1 ? 'visible' : 'hidden'"
                         >Registration start</button>
                    <!-- Reset btn -->
                    <button type="button" class="btn btn-danger"
                         (click)="resetFunction()"
                         [style.visibility]="resetbtn1 ? 'visible' : 'hidden'"
                         >Reset</button>
               </div>
               <div class="text-center">
                    <button type="button" class="btn btn-danger btn-lg"
                         (click)="resetFunction()"
                         [style.visibility]="resetbtn2 ? 'visible' : 'hidden'"
                         >　Reset　</button>
               </div>
          </div>

          <!-- Confirmation table test  -->
          <div [style.visibility]="confirmationtable ? 'visible' : 'hidden'" class="text-danger text-center">   
               <h2 class="text-center">Confirmation table</h2>
               <div class="container">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                         <table class="table">
                              <thead class="thead-dark">
                                   <tr>
                                        <th><h5>{{inputtitle1}}</h5></th>
                                        <th><h5>{{inputtitle2}}</h5></th>
                                        <th><h5>{{inputtitle4}}</h5></th>
                                   </tr>
                              </thead>
                              <tbody class="text-left">
                                   <td><h3>{{userName}}</h3></td>
                                   <td><h3 *ngIf="pass1===pass2; else Error">{{pass2}}</h3></td>
                                   <ng-template #Error><h3 class="text-danger"><b>Error</b></h3></ng-template>
                                   <td><h3>{{age}}</h3></td>
                              </tbody>
                         </table>
                         <button type="button" class="btn btn-primary btn-lg"
                              (click)="regisConfirmFunction()"                         
                         >Confirm Registration</button>
                    </div>
                    <div class="col-md-3"></div>
               </div>
          </div>    
     </div>
</div>


<!-- Login Form -->
<div class="container login-form" [style.visibility]="loginForm ? 'visible' : 'hidden'">
     <div class=""><h1>Login Form</h1></div>
     <!-- login Inputs -->
     <div class="container-fluid ">
          <div class="row loginId">
               <div class="col-md-3"><h4>{{inputtitle1}}</h4></div>
               <div class="col-md-8"><input [(ngModel)]="loginInput1" type="text" class="form-control"></div>
          </div>
          <div class="row login-pass">
               <div class="col-md-3"><h4>{{inputtitle2}}</h4></div>
               <div class="col-md-8"><input [(ngModel)]="loginInput2" type="text" class="form-control"></div>
          </div>
     </div>
     <!-- login Error --> 
     <div [style.visibility]="loginError ? 'visible' : 'hidden'" class="text-danger text-center">
          <h4><b>{{loginDataError}}</b></h4>
     </div>
     
     <!-- login form btn  -->
     <div class="row button">
          <div class="text-center">
               <!-- Regis btn 1 -->
               <button type="button" class="btn btn-primary login-btn" 
                    (click)="loginFunction()"
                    [style.visibility]="loginbtn ? 'hidden' : 'visible'"
                    >Login</button>
               <!-- Reset btn  -->
               <button type="button" class="btn btn-danger"
                    (click)="loginresetFunction()"
                    [style.visibility]="loginReset ? 'hidden' : 'visible'"
                    >Reset</button>
          </div>
     </div>
</div>              


<div class="login-success text-center login-success-form" [style.visibility]="loginSuccess ? 'visible' : 'hidden'">
     <div class="container-fluid">
          <h1 class="text-center">Login Success</h1>
          <div class="row">
               <!-- <div class="col-md-6 text-right">
                    <img src="src/assets/img/success-man.png" alt="">
               </div>
               <div class="col-md-6 text-left">
                    <img src="assets/img/success.jpg" alt="">
               </div> -->
               <div class="col-md-6 text-left">
                    <img src="assets/success.jpg" alt="">
               </div>
          </div>
     </div>
</div>