<!-- success-alert & warning-alert component -->
<!-- <div class="container">
     <div class="row">
          <div class="col-md-6" app-success-alert></div> 
          <div class="col-md-6">
               <app-warning-alert></app-warning-alert>
          </div>
     </div>
</div> -->


<!-- data-binding-test component -->
<div class="container">  
     <app-data-binding-test></app-data-binding-test>
</div>    


<!-- control-statment component -->
<!-- <div class="container">  
     <app-control-statment></app-control-statment>
</div>  -->