<!--------------------------------------- 
          String interpolation 
----------------------------------------->

<!-- String interpolation - Variable -->
<h3>{{test1}}</h3>
<h3>{{test2}}</h3>

<!-- String interpolation - Function -->
<h3>{{getAge()}}</h3>



<!--------------------------------------- 
          Property binding 
----------------------------------------->
<button type="button" class="btn btn-primary" [disabled]="disabledTest1">Primary</button>
<button type="button" class="btn btn-primary" [disabled]="disabledTest2">Primary</button>

<!-- Property binding  ―　.innerText -->
<h3 [innerText]="test1"></h3>



<!--------------------------------------- 
          Event binding 
----------------------------------------->

<!-- Property bound btn -->
<button type="button" class="btn btn-primary" [disabled]="disabledTest3">Primary</button>

<!-- Event binding btn -->
<button type="button" class="btn btn-danger" (click)="btnDisable()">Danger</button>
<h2></h2>

<!-- Event binding ー　Input -->
<input type="text" class="form-control" (input)="onUpdateText($event)">
<!-- Print Input Value -->
<h2>{{inputEventTest}}</h2>



<!--------------------------------------- 
         Two-way data binding 
----------------------------------------->
<!-- Insert value to variable -->
<input type="text" class="form-control" [(ngModel)] = 'twoWayModelTest'>
<!-- Print Input Value variable -->
<h2>{{twoWayModelTest}}</h2>





<!--------------------------------------- 
               Tutorial - 1
     Property binding・Event binding          
----------------------------------------->
<H2>{{Tutorial}}</H2>
<!-- Insert data -->
<input type="text" class="form-control" value="{{tutorialEvent}}" id="Tutorialinput" (input)="getInputData($event)">

<div class="row mt-5">
     <div class="col-md-6">
          <!-- display inputs -->
          <h2 class="para">{{tutorialEvent}}</h2>
     </div> 
     <div class="col-md-6">
          <!-- activate btn when inserting data -->
          <button type="button" class="btn btn-danger cssbtn" [disabled]="disabledTestTutorial">activate btn</button>
     </div>
</div>    

<!-- reset input when the button is clicked -->
<button type="button" class="btn btn-primary btn-lg"(click)="clearInputs()">　Reset btn　</button>


<!--------------------------------------- 
               Tutorial - 2
           Two-way data binding          
----------------------------------------->
<H2>{{Tutorial}}</H2>

<!-- Insert value to variable -->
<input type="text" class="form-control" [(ngModel)]="tutorial2">

<!-- Print inserted value -->
<h3>{{tutorial2}}</h3>

<!-- Set Reset button -->
<button type="button" 
     class="btn btn-danger" 
     [disabled]="tutorial2===''"
     (click)="tutorial2 = ''" > Reset </button>

     
<!--------------------------------------- 
               Tutorial - 3
           Two-way data binding          
----------------------------------------->

<div class="container">
     <h1 [ngStyle]="{backgroundColor:'yellow'}">Style editing 1</h1>
     <h1 [ngStyle]="{backgroundColor: getColor()}">Style editing 2</h1>
</div>